@CHARSET "UTF-8";

@font-face {
	font-family: champa;
	src: url('../font/Champagne&Limousines.ttf');
	/* url('Sansation_Light.eot');  IE9 */
}

html {
	height: 100%;
	font-family: champa;
}

body {
	min-height: 100%;
}

body,a,img,div,span,ul,li {
	margin: 0px;
	padding: 0px;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	background: url("../img/menu_bg.png");
	/* Preserve aspet ratio */
	min-width: 16%;
	min-height: 100%;
	left: -250px;
	opacity: 0;
}

.logo_bg {
	background: white;
	position: fixed;
	top: 40%;
	width: 16%;
}

header .logo_bg .logo {
	margin: 0 auto;
	width: 80%;
	padding: 6px 0px;
}

.container {
	position: relative;
}

.hm_back {
	position: fixed;
	top: 0;
	left: 0;
	/* Preserve aspet ratio */
	min-width: 100%;
	min-height: 100%;
}

#preloader {
	margin: 20% auto;
	width: 218px;
}

.wrapper {
	position: fixed;
	left: 16%;
	top: 40%;
	width: 84%;
	z-index: 7;
}

.wrapper ul li {
	list-style: none;
	float: left;
	background: url("../img/button.png");
	width: 14.1%;
	text-align: center;
	margin: 0px 1px;
	color: white;
	padding: 58px 0px;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bolder;
}

.wrapper ul li:last-child {
	margin: 0px;
}

.colors {
	position: fixed;
	left: 16%;
	z-index: 6;
	display: table;
	width: 100%;
}

.colors ul {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.colors li {
	list-style: none;
	float: left;
	padding: 400px 0px;
	width: 11.96%;
}

.colors li:nth-child(1) {
	background: url("../img/1.png");
}

.colors li:nth-child(2) {
	background: url("../img/2.png");
}

.colors li:nth-child(3) {
	background: url("../img/3.png");
}

.colors li:nth-child(4) {
	background: url("../img/4.png");
}

.colors li:nth-child(5) {
	background: url("../img/5.png");
}

.colors li:nth-child(6) {
	background: url("../img/6.png");
}

.colors li:nth-child(7) {
	background: url("../img/7.png");
}

.inner .logo_bg {
	position: static;
	width: auto;
}

.inner {
	width: 20%;
	background: white;
}

.menu_inner {
	margin-left: 70px;
}

.menu_inner li {
	text-transform: uppercase;
	list-style: none;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 2px;
	margin: 30px 0px;
	cursor: pointer;
	position: relative;
}
.menu_inner li:nth-child(2) a {
	




	}
.menu_inner a {
	text-decoration: none;
	color: black;
}

.menu_inner a {
	text-decoration: none;
	color: black;
	padding:10px 30px;
	
}

.menu_inner img {
position: absolute;
top: -16px;
left: 0px;
opacity:0.8;
}
/*amenties*/

.box7 {
position: absolute;

background: url("../menulist/color.png") repeat;
width: 502px;
text-align: justify;
height: 155px;
overflow-y: hidden;
padding: 50px;
overflow-x: hidden;
opacity: 0.8;
}
