@charset "UTF-8";

@font-face {
	font-family: champa;
	src: url('../font/Champagne&Limousines.ttf');
	/* url('Sansation_Light.eot');  IE9 */
}
 
html {
	height: 100%;
	font-family: champa;
}

body {
	overflow-x: hidden;
	overflow-y: hidden;
	min-height: 100%;
}

::-webkit-scrollbar {
	width: 12px;
}
/* the new scrollbar will have a flat appearance with the set background color */
::-webkit-scrollbar-thumb {

	background: black;
} 


body,a,img,div,span,ul,li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	background: url("../img/menu_bg.png");
	/* Preserve aspet ratio */
	min-width: 16%;
	min-height: 100%;
	left: -250px;
	opacity: 0;
}

.logo_bg {
	background: white;
	position: fixed;
	top: 40%;
	width: 16%;
}

header .logo_bg .logo {
	margin: 0 auto;
	width: 70%;
	padding: 6px 0px;
}

.container {
	position: relative;
}

.hm_back {
	position: fixed;
	top: 0;
	left: 0;
	/* Preserve aspet ratio */
	min-width: 100%;
	min-height: 100%;
}

#preloader {
	margin: 20% auto;
	width: 218px;
}

.wrapper {
	position: fixed;
	left: 16%;
	top: 40%;
	width: 84%;
	z-index: 7;
}

.wrapper ul li {
	list-style: none;
	float: left;
	background: url("../img/button.png");
	width: 14.135%;
	text-align: center;
	margin: 0px 1px;
	color: white;
	padding: 58px 0px;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bolder;
}

.wrapper ul li:last-child {
	margin: 0px;
}

.colors {
	position: fixed;
	left: 16%;
	z-index: 6;
	display: table;
	width: 100%;
}

.colors ul {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.colors li {
	list-style: none;
	float: left;
	padding: 600px 0px;
	width: 12.01%;
}

.colors li:nth-child(1) {
	background: url("../img/1.png");
}

.colors li:nth-child(2) {
	background: url("../img/2.png");
}

.colors li:nth-child(3) {
	background: url("../img/3.png");
}

.colors li:nth-child(4) {
	background: url("../img/4.png");
}

.colors li:nth-child(5) {
	background: url("../img/5.png");
}

.colors li:nth-child(6) {
	background: url("../img/6.png");
}

.colors li:nth-child(7) {
	background: url("../img/7.png");
}

.inner .logo_bg {
	position: static;
	width: auto;
}

.inner {
width: 254px;
	background: white;
}

.menu_inner {
	margin-left: 16px;
}

.menu_inner li {
	text-transform: uppercase;
	list-style: none;
	font-weight: bold;
	font-size: 15px;
	letter-spacing: 2px;
	margin: 20px 0px;
	cursor: pointer;
	position: relative;
}

.menu_inner li:nth-child(2) a {
	
}

.menu_inner a {
	text-decoration: none;
	color: black;
	width: 150px;
}

.menu_inner a {
	text-decoration: none;
	color: black;
	padding: 10px 5px;
	position: relative;
	display: inline-block;
	min-width: 180px;
}

.menu_inner img {
	position: absolute;
	top: -4px;
	left: 0px;
	opacity: 0;
}

.box {
	position: absolute;
	width: 38%;
	height:400px;
	text-align: justify;
	background: url('../img/menu_bg.png');
	padding: 50px 80px;
	overflow-y: scroll;
	overflow-x: hidden;
	right: -720px;
	top: 140px;
	opacity:0;
	border-top-left-radius: 2em;
	border-bottom-left-radius: 2em;
	-moz-box-shadow: 0px 1px 14px #000000;
	-webkit-box-shadow: 0px 1px 14px #000000;
	box-shadow: 0px 1px 14px #000000;
}

.box h2 {
	border-bottom: 1px solid;
	width: 45%;
	margin-bottom: 10px;
}

.box p {
	padding:20px;
	line-height: 24px;
}

.close {
	position: absolute;
	right: 44%;
	top: 254px;
	z-index: 2;
}

.close {
	cursor: pointer;
}

li:nth-child(1) a.backcolor {
	background: url(../img/overview.png) no-repeat 132px -8px  #b0b1b3 !important;

}

li:nth-child(2) a.backcolor {
	background: url(../img/1_m.png) no-repeat 132px -8px #1caecf !important;
	
}

li:nth-child(3) a.backcolor {
	background: url(../img/Location.png) no-repeat 132px -8px #a8651f !important;

}

li:nth-child(4) a.backcolor {
	background: url(../img/specification.png) no-repeat  132px -8px #845743 !important;
}

li:nth-child(5) a.backcolor {
	background:url(../img/gallery-icon.png) no-repeat  132px -8px #216db4 !important;
	
}

li:nth-child(6) a.backcolor {
	background: url(../img/floor-plan-icon.png) no-repeat 132px -8px #619cd8 !important;
	
}

li:nth-child(7) a.backcolor {
	background:url(../img/floor-plan-icon.png) no-repeat  132px -8px #7fca44 !important;
	
}


/*specification*/


.sp_detail{
	
	margin: 0px 20px;
}
h4{
	
	letter-spacing: 2px;
}

.i6 img {
	top: 44px;
}

.i7 img {
	top: 44px;
}

.i8 img {
	top: 44px;
}

.i9 img {
	top: 44px;
}

.i10 img {
	top: 44px;
}

.i11 img {
	top: 44px;
}

.box9 ul {
	width: 600px;
	margin: 0 auto !important;
}

.box9 li {
	list-style: none;
	float: left;
}

.box9 li img {

	

	margin-top: 10px;
}


.box10 ul{
	
	width: 600px;
margin: 0 auto !important;
}
.box10 li {
	list-style: none;
	float: left;
}

.box10 li img {
	margin-left: 28px;

	margin-top: 28px;
}
.box10 img{
	
	width:200px;
}
/*contact page */


#contactForm .alert {
	width: 20%;
	height: 13px;
	padding-bottom: 4px;
	padding-top: 10px;
	padding-left: 84px;
	background: none;
	border: none;
	color: red;
}

.exit1 {
	position: absolute;
	left: 418px;
	top: 3%;
}

#msg_box {
	width: 410px;
	height: 78px;
	background-image: url(../images/form_msg.png);
	background-repeat: no-repeat;
}

.input_boxes {
	width: 434px;
	padding: 10px 50px;
	display: inline-block;
}

#contactForm textarea {
	height: 75px;
	font-family: Verdana, Geneva, sans-serif;
	width: 290px;
	padding: 10px;
}

#contactForm textarea,#contactForm input {
	width: 209px;
	color: #514c4b;
	padding-left: 10px;
	height: 44px;
	font-size: 11px;
	border: 2px solid;
}

#contactForm span {
	display: none;
	font-size: 9px;
	color: #FF0000;
	font-family: Verdana, Geneva, sans-serif;
}

#contactForm .sendmessage {
	cursor: pointer;
	float: left;
	border: 0px;
	background: black;
color: white;
}

.sendmessage {
	width: 123px !important;
	padding-left: 0px !important;
}

.contactForm label{
	width: 80px;
display: inline-block;
}


